$TTL 604800	; 1 week
@	IN SOA	{{ bind_fqdn }}. admin.{{ domain }}. (
				8          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 weeks)
)
@			IN       NS	{{ bind_fqdn }}.
{{ hostname }}		IN	 A {{ ansible_default_ipv4.address }}
{% if record is defined %}
{% for item in record %}
{{ item.key}}	IN	{{ item.type }}	{{ item.value }}
{% endfor %}
{% endif %}