{% if resolv_domain is defined %}
{% for item in resolv_domain %}
zone "{{ item.domain }}" IN {
    type master;
    file "/var/named/db.forward";
    allow-update { none; };
};
{% endfor %}
{% endif %}

{% if resolv_reverse_domain is defined %}
{% for item in resolv_reverse_domain %}
zone "{{ item.reverse_domain }}" IN {
    type master;
    file "/var/named/db.reverse";
    allow-update { none; };
};
{% endfor %}
{% endif %}

{% if forwarding_domain is defined %}
{% for item in forwarding_domain %}
zone "{{ item.domain }}" IN {
        type forward;
        forwarders { {% for item2 in item.forwarders %}{{ item2.ip }} {% endfor %}};
        forward only;
};
{% endfor %}
{% endif %}